In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
pd.set_option('display.max_columns',None)

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/BlockBucks/data rpw.csv",encoding="latin-1")
df.head()

<ipython-input-33-937edfbaa737>:1: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("/content/drive/MyDrive/BlockBucks/data rpw.csv",encoding="latin-1")

,id,period,source_code,source_name,source_income,destination_code,destination_name,destination_region,destination_income,destination_lending,firm,firm_type,payment instrument,access point,speed actual,cc1 lcu amount,cc1 denomination amount,cc1 lcu code,cc1 lcu fee,cc1 lcu fx rate,cc1 fx margin,cc1 total cost %,cc2 lcu amount,cc2 denomination amount,cc2 lcu code,cc2 lcu fee,cc2 lcu fx rate,cc2 fx margin,cc2 total cost %,inter lcu bank fx,transparent,Standard Note,note2,receiving network coverage,pickup location,pickup method,date,corridor
0,620160001,2016_2Q,AGO,Angola,Lower middle income,NAM,Namibia,Sub-Saharan Africa,Upper middle income,IBRD,MoneyGram,Money Transfer Operator,Cash,Agent,Less than one hour,33000,200,AOA,2900.0,0.0,7.0,16.0,83000,500,AOA,5700.0,0.0,7.0,14.0,0.0,yes,NaN,NaN,High,Agent,Cash,11-May-16,AGONAM
1,620160002,2016_2Q,AGO,Angola,Lower middle income,NAM,Namibia,Sub-Saharan Africa,Upper middle income,IBRD,Real Transfer,Money Transfer Operator,"Bank account transfer,Cash",Agent,Same day,33000,200,AOA,3300.0,0.0,4.0,14.0,83000,500,AOA,6300.0,0.0,4.0,12.0,0.0,yes,NaN,NaN,High,Agent,Cash,11-May-16,AGONAM
2,620160003,2016_2Q,AGO,Angola,Lower middle income,NAM,Namibia,Sub-Saharan Africa,Upper middle income,IBRD,Standard Bank,Bank,Bank account transfer,Bank branch,Next day,33000,200,AOA,9075.0,1.0,0.0,28.0,83000,500,AOA,9075.0,1.0,0.0,11.0,1.0,no,This RSP is not transparent: the exchange rate...,NaN,Low,NaN,Bank account,11-May-16,AGONAM
3,620160004,2016_2Q,ARE,United Arab Emirates,High income,BGD,Bangladesh,South Asia,Lower middle income,IDA,Al Ansari,Money Transfer Operator,Cash,Agent,Less than one hour,735,200,AED,15.0,21.0,0.0,2.0,1835,500,AED,20.0,21.0,0.0,1.0,21.0,yes,NaN,NaN,High,Agent,Cash,09-May-16,AREBGD
4,620160005,2016_2Q,ARE,United Arab Emirates,High income,BGD,Bangladesh,South Asia,Lower middle income,IDA,Al Fardan Exchange,Money Transfer Operator,Cash,Agent,Less than one hour,735,200,AED,15.0,21.0,0.0,2.0,1835,500,AED,15.0,21.0,0.0,1.0,21.0,yes,NaN,NaN,High,Agent,Cash,09-May-16,AREBGD

In [ ]:
df.shape

(170743, 38)

In [ ]:
df.isnull().sum()

id                                 0
period                             0
source_code                        0
source_name                        0
source_income                      0
destination_code                   0
destination_name                   0
destination_region                 0
destination_income                 0
destination_lending                0
firm                               0
firm_type                          0
payment instrument                 0
access point                       0
speed actual                       0
cc1 lcu amount                     0
cc1 denomination amount            0
cc1 lcu code                       7
cc1 lcu fee                       17
cc1 lcu fx rate                   16
cc1 fx margin                     12
cc1 total cost %                  12
cc2 lcu amount                     0
cc2 denomination amount            0
cc2 lcu code                       7
cc2 lcu fee                      869
cc2 lcu fx rate                  870
cc2 fx margin                    869
cc2 total cost %                 869
inter lcu bank fx                  0
transparent                        0
Standard Note                 126197
note2                         170455
receiving network coverage         0
pickup location                88301
pickup method                      0
date                               0
corridor                           0
dtype: int64

In [ ]:
df.columns

Index(['id', 'period', 'source_code', 'source_name', 'source_income',
       'destination_code', 'destination_name', 'destination_region',
       'destination_income', 'destination_lending', 'firm', 'firm_type',
       'payment instrument', 'access point', 'speed actual', 'cc1 lcu amount',
       'cc1 denomination amount', 'cc1 lcu code', 'cc1 lcu fee',
       'cc1 lcu fx rate', 'cc1 fx margin', 'cc1 total cost %',
       'cc2 lcu amount', 'cc2 denomination amount', 'cc2 lcu code',
       'cc2 lcu fee', 'cc2 lcu fx rate', 'cc2 fx margin', 'cc2 total cost %',
       'inter lcu bank fx', 'transparent', 'Standard Note', 'note2',
       'receiving network coverage', 'pickup location', 'pickup method',
       'date', 'corridor'],
      dtype='object')

In [ ]:
df=df[['source_name', 'destination_name','firm','speed actual','cc1 lcu amount','cc1 lcu fx rate']]
df_india=df[(df['destination_name'] == 'India')]
df_india.drop(['destination_name'],axis=1,inplace=True)
df_india=df_india[df_india['firm'].isin(df_india['firm'].value_counts()[df_india['firm'].value_counts() > 10].index)]

<ipython-input-37-5dc92910db3c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_india.drop(['destination_name'],axis=1,inplace=True)

In [ ]:
df_india['source_name'].value_counts()

source_name
Australia               1133
United States           1113
United Kingdom          1057
New Zealand              987
Canada                   838
Italy                    817
Japan                    760
Singapore                759
Germany                  702
Sweden                   631
France                   579
Thailand                 544
United Arab Emirates     538
Bahrain                  480
Malaysia                 472
Kuwait                   464
Qatar                    341
Oman                     309
South Africa             305
Saudi Arabia             239
Name: count, dtype: int64

In [ ]:
# firm_counts = df_india.groupby(['source_name', 'firm']).size().reset_index(name='counts')
# firm_counts['percentage'] = firm_counts.groupby('source_name')['counts'].transform(lambda x: x / x.sum() * 100)
# top_firms = firm_counts.groupby('source_name').apply(lambda x: x.nlargest(3, 'percentage')).reset_index(drop=True)
# plt.figure(figsize=(14, 8))
# sns.barplot(x='source_name', y='percentage', hue='firm', data=top_firms, palette='viridis')
# plt.title('Top 3 Firms by Percentage for Each Country (Sending Remittances to India)')
# plt.xlabel('Source Country')
# plt.ylabel('Percentage of Transactions')
# plt.legend(loc='best')
# plt.xticks(rotation=45)
# plt.tight_layout()
# plt.show()

In [ ]:
df_india['firm'].value_counts()

firm
Western Union               1907
MoneyGram                   1259
Ria                          598
WorldRemit                   532
Small World                  364
                            ...
SBI Remit via MoneyGram       11
Foreign Exchange Central      11
Money2anywhere                11
MyCash Money                  11
moneytransfer.co.nz           11
Name: count, Length: 161, dtype: int64

In [ ]:
df_dummies=pd.get_dummies(df_india, columns=['source_name', 'speed actual'])
df_dummies

,firm,cc1 lcu amount,cc1 lcu fx rate,source_name_Australia,source_name_Bahrain,source_name_Canada,source_name_France,source_name_Germany,source_name_Italy,source_name_Japan,source_name_Kuwait,source_name_Malaysia,source_name_New Zealand,source_name_Oman,source_name_Qatar,source_name_Saudi Arabia,source_name_Singapore,source_name_South Africa,source_name_Sweden,source_name_Thailand,source_name_United Arab Emirates,source_name_United Kingdom,source_name_United States,speed actual_2 days,speed actual_3-5 days,speed actual_6 days or more,speed actual_Less than one hour,speed actual_Next day,speed actual_Same day
10,Al Ansari,735,18.0000,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False
29,Al Ansari,735,18.0000,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False
30,Al Fardan Exchange,735,18.0000,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False
31,Al Fardan Exchange,735,18.0000,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False
32,Al Fardan Exchange,735,18.0000,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170598,Kiwibank,260,52.3445,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
170609,Al Mulla Exchange,65,269.2514,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
170610,Al Mulla Exchange,65,269.1065,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
170661,SEB,1700,7.8920,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False
170667,MoneyGram,65,269.1000,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [ ]:
x=df_dummies.drop(['firm'],axis=1).values
y=df_dummies['firm'].values

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42,stratify=y)
model=DecisionTreeClassifier()
model.fit(x,y)

DecisionTreeClassifier()

In [ ]:
from sklearn.metrics import *

In [ ]:
print("Accuracy on the training dataset:",model.score(x_train,y_train))
print("Accuracy on the testing dataset:",model.score(x_test,y_test))

Accuracy on the training dataset: 0.6959058733499139
Accuracy on the testing dataset: 0.70734506503443

In [ ]:
print(classification_report(y_test,model.predict(x_test)))

                                     precision    recall  f1-score   support

                           ANZ Bank       0.53      0.86      0.66        29
                           ASB Bank       0.53      0.77      0.62        13
                          Al Ansari       0.64      0.93      0.76        15
                    Al Dar Exchange       0.25      0.33      0.29         6
                 Al Fardan Exchange       0.52      0.96      0.68        26
                  Al Mulla Exchange       0.80      0.92      0.86        13
               Al Muzaini Exchange        0.56      0.71      0.63         7
                      Al-Rajhi Bank       0.67      0.86      0.75         7
                      Aman Exchange       1.00      0.92      0.96        13
              Ameer Tech Remittance       0.80      0.67      0.73         6
                     Ample Transfer       0.80      0.80      0.80         5
           Arabian Exchange Company       0.50      1.00      0.67         6
              Asia Express Exchange       0.60      1.00      0.75         6
             Aussie Forex & Finance       0.71      0.71      0.71         7
                              Azimo       0.57      0.61      0.59        33
                       BFC Exchange       0.83      0.83      0.83         6
                             BIIECO       0.72      1.00      0.84        13
                  BOSS Mobile Money       0.80      0.89      0.84         9
           Bahrain Exchange Company       0.76      0.87      0.81        15
          Bahrain Financing Company       0.58      0.88      0.70        17
              Banca Intesa SanPaolo       1.00      1.00      1.00        15
                       Bangkok Bank       0.38      0.60      0.46        10
                        Bank Muscat       0.75      1.00      0.86         6
                     Bank of Baroda       0.60      1.00      0.75        28
                      Bank of India       0.56      0.71      0.63        52
                Bank of New Zealand       0.83      0.56      0.67         9
                   Banque Populaire       0.86      0.86      0.86         7
                      Brastel Remit       0.31      0.67      0.42         6
                    Ceylon Exchange       0.33      0.50      0.40         6
                           Citibank       0.61      0.82      0.70        17
                   Citilink Finance       0.00      0.00      0.00         2
                    Commercial Bank       0.67      0.22      0.33         9
                     Commerzbank AG       1.00      1.00      1.00         4
                  Commonwealth Bank       0.64      0.93      0.76        15
                          DBS Remit       0.73      0.89      0.80         9
                 DCOM Money Express       0.00      0.00      0.00         2
             Dalil Exchange Company       1.00      1.00      1.00         2
                           DeeMoney       0.75      0.75      0.75         4
                      Deutsche Bank       0.85      0.92      0.88        12
                  DirectRemit (NBD)       1.00      0.80      0.89         5
                          Doha Bank       1.00      0.88      0.93         8
                            E-remit       0.27      0.67      0.38         6
                Eastern Exchange Co       1.00      0.67      0.80         6
                      EcoCash Remit       1.00      0.33      0.50         3
                           EcoRemit       0.00      0.00      0.00         3
                         Enjaz Bank       0.60      0.60      0.60         5
                         Extrabanca       0.43      1.00      0.60         9
                            Ezremit       0.47      0.68      0.56        25
                         FLASHremit       0.67      0.67      0.67         3
                         Fast Remit       0.36      0.50      0.42         8
                              Fawri       0.80      1.00      0.89         8
                     FlyWorld Money       0.50      0.33      0.40         9
           Foreign Exchange Central       0.50      0.50      0.50         2
                       GCC Exchange       0.75      0.50      0.60         6
                          GMT Money       0.48      0.73      0.58        15
                            GoRemit       0.77      0.77      0.77        13
                          HDFC Bank       0.00      0.00      0.00         6
                        Hello-Paisa       0.78      0.78      0.78         9
                         ICICI Bank       0.71      0.90      0.79        61
  IME (International Money Express)       0.50      0.50      0.50         6
           India International Bank       0.71      0.83      0.77         6
               Indian Overseas Bank       0.63      0.77      0.69        22
                           InstaReM       0.71      0.83      0.77        12
                                JME       0.75      0.50      0.60         6
                                JRF       0.77      0.77      0.77        13
                    Japan Post Bank       0.80      0.40      0.53        10
                   KL Remit Xchange       0.57      0.67      0.62         6
                      Kasikorn Bank       0.50      0.17      0.25         6
                           Kiwibank       0.79      0.92      0.85        12
                  Kotak Click2Remit       0.46      0.50      0.48        24
                      Krungsri Bank       0.59      0.91      0.71        11
                     Krungthai Bank       0.67      0.29      0.40         7
Kuwait India International Exchange       0.83      0.62      0.71         8
                             Kyodai       0.00      0.00      0.00         5
                           La Poste       1.00      1.00      1.00         4
         La Poste via Western Union       0.38      0.60      0.46         5
                               Lari       1.00      0.38      0.56        13
                      Lulu Exchange       0.81      1.00      0.89        21
                           Lulu Now       1.00      0.50      0.67         6
                         Lyca Remit       0.75      0.86      0.80         7
                           M1 Remit       1.00      0.33      0.50         3
                         Mama Money       0.58      1.00      0.74         7
                          Max Money       0.71      0.83      0.77         6
        Merchantrade Money Transfer       1.00      0.50      0.67         4
                     Money2anywhere       0.00      0.00      0.00         2
                          MoneyGram       0.68      0.73      0.71       252
                MoneyMatch Transfer       0.60      0.60      0.60         5
                  Musandam Exchange       0.62      0.83      0.71         6
                       MyCash Money       1.00      1.00      1.00         2
                                NEC       1.00      0.33      0.50         3
                          NEC Remit       1.00      1.00      1.00         4
                         NTT Docomo       1.00      1.00      1.00         4
          National Exchange Company       1.00      1.00      1.00         3
                        Nordea Bank       1.00      1.00      1.00        14
                                OMM       1.00      1.00      1.00         3
                        Orbit Remit       0.42      0.26      0.32        19
                             Pangea       0.50      0.50      0.50         6
                           Postbank       1.00      0.67      0.80         6
         Postbank via Western Union       0.00      0.00      0.00         6
       Poste Italiane via MoneyGram       1.00      0.10      0.18        10
   Poste Italiane via Western Union       0.80      0.80      0.80         5
              Prabhu Money Transfer       1.00      0.25      0.40         4
    Prime Bank (Prime Exchange Co.)       0.33      0.17      0.22         6
               Punjab National Bank       0.58      0.78      0.67         9
              Punjabi National Bank       0.44      1.00      0.62         4
                      Relianz Forex       0.50      0.29      0.36         7
                        Remit2India       0.75      0.45      0.56        20
                    Remit2India.com       0.50      0.33      0.40         3
                           RemitBee       1.00      0.83      0.91         6
                          RemitGuru       1.00      0.35      0.52        17
                         RemitMoney       0.71      0.71      0.71        14
                            Remitly       0.87      0.84      0.86        70
                                Ria       0.78      0.67      0.72       120
                       Rocket Remit       0.80      1.00      0.89         4
               Royal Bank of Canada       0.56      0.83      0.67         6
                    SBI Canada Bank       0.61      0.93      0.74        15
                        SBI Express       0.67      0.15      0.25        13
            SBI Remit via MoneyGram       0.00      0.00      0.00         2
            SBI Rupee Instant Flash       1.00      1.00      1.00         4
                          SBI remit       0.33      0.25      0.29         4
                           SC Remit       1.00      0.75      0.86         4
                                SEB       0.79      1.00      0.88        11
                            STC Pay       0.60      0.75      0.67         4
        Saudi American Bank (SAMBA)       1.00      0.50      0.67         4
                         ScotiaBank       1.00      0.47      0.64        15
                         Seven Bank       0.83      0.71      0.77         7
               Siam Commercial Bank       0.33      0.17      0.22         6
            Sikhona Money Transfers       1.00      1.00      1.00         4
                       Singtel Dash       0.78      1.00      0.88         7
                     Singtel mRemit       0.50      1.00      0.67         2
                             Skrill       0.84      0.64      0.72        33
                        Small World       0.76      0.77      0.76        73
                          SmartSend       0.50      0.50      0.50         2
                        Speed Remit       0.67      0.67      0.67         3
                          SpeedSend       1.00      0.50      0.67         2
                State Bank of India       0.63      0.67      0.65        69
                           TMB Bank       1.00      0.67      0.80         6
                          TeleMoney       0.43      0.50      0.46         6
               Tempo Money Transfer       0.83      0.83      0.83         6
                             Tik FX       0.80      0.57      0.67         7
              Toronto Dominion Bank       0.80      0.50      0.62         8
                          Transfast       0.00      0.00      0.00         3
                       Transferwise       0.81      0.46      0.59        28
                       UAE Exchange       0.86      0.32      0.46        19
                           UOB Bank       0.67      0.36      0.47        11
                             ValYou       0.50      0.80      0.62         5
                   Wall St Exchange       1.00      0.15      0.27        13
                      Walmart2World       0.75      0.82      0.78        11
                        Wells Fargo       0.57      0.50      0.53         8
                      Western Union       0.82      0.81      0.81       382
                            Westpac       0.56      0.33      0.42        15
                               Wise       0.81      0.68      0.74        25
                         WorldRemit       0.91      0.76      0.83       107
                            Xendpay       0.75      0.50      0.60        24
                               Xoom       0.89      0.71      0.79        24
                       Xpress Money       0.88      0.48      0.62        44
                             ZipZap       0.00      0.00      0.00         2
                  exchange4free.com       1.00      0.33      0.50         3
                          maybank2U       0.43      0.60      0.50         5
           money2India (ICICI Bank)       0.88      0.37      0.52        19
                moneytransfer.co.nz       1.00      0.50      0.67         2

                           accuracy                           0.71      2614
                          macro avg       0.68      0.64      0.63      2614
                       weighted avg       0.73      0.71      0.70      2614

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
recall_score(y_test,model.predict(x_test),average='weighted')

0.70734506503443

In [ ]:
df_dummies.columns

Index(['firm', 'cc1 lcu amount', 'cc1 lcu fx rate', 'source_name_Australia',
       'source_name_Bahrain', 'source_name_Canada', 'source_name_France',
       'source_name_Germany', 'source_name_Italy', 'source_name_Japan',
       'source_name_Kuwait', 'source_name_Malaysia', 'source_name_New Zealand',
       'source_name_Oman', 'source_name_Qatar', 'source_name_Saudi Arabia',
       'source_name_Singapore', 'source_name_South Africa',
       'source_name_Sweden', 'source_name_Thailand',
       'source_name_United Arab Emirates', 'source_name_United Kingdom',
       'source_name_United States', 'speed actual_2 days',
       'speed actual_3-5 days', 'speed actual_6 days or more',
       'speed actual_Less than one hour', 'speed actual_Next day',
       'speed actual_Same day'],
      dtype='object')

In [ ]:
# from sklearn import tree
# import matplotlib.pyplot as plt
# import graphviz
# from sklearn.tree import export_graphviz

# plt.figure(figsize=(20,10))
# tree.plot_tree(model, feature_names=df_dummies.columns, class_names=[str(cls) for cls in model.classes_], filled=True)
# plt.show()

In [ ]:
df_dummies.head()

,firm,cc1 lcu amount,cc1 lcu fx rate,source_name_Australia,source_name_Bahrain,source_name_Canada,source_name_France,source_name_Germany,source_name_Italy,source_name_Japan,source_name_Kuwait,source_name_Malaysia,source_name_New Zealand,source_name_Oman,source_name_Qatar,source_name_Saudi Arabia,source_name_Singapore,source_name_South Africa,source_name_Sweden,source_name_Thailand,source_name_United Arab Emirates,source_name_United Kingdom,source_name_United States,speed actual_2 days,speed actual_3-5 days,speed actual_6 days or more,speed actual_Less than one hour,speed actual_Next day,speed actual_Same day
10,Al Ansari,735,18.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False
29,Al Ansari,735,18.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False
30,Al Fardan Exchange,735,18.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False
31,Al Fardan Exchange,735,18.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False
32,Al Fardan Exchange,735,18.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False

In [ ]:
df_dummies.to_csv('/content/drive/MyDrive/BlockBucks/data-final.csv',index=False)

In [ ]:
model.predict(x_test)

array(['La Poste via Western Union', 'FLASHremit', 'Banque Populaire',
       ..., 'DeeMoney', 'Bangkok Bank', 'Saudi American Bank (SAMBA)'],
      dtype=object)